*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header{
    position: sticky;
    top: 0;
}
.headerbar{
    display: none;
}

.searchicon{
    display: block;
}
.input-box input{
    width: 80%;
	border: none;
	outline: none;
	background : transparent;
	color: #fff;
}

.logo img{
    width: 240px;
}
.bar{
    display: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 7vw;
    background-color: rgb(248,232,217);
    border-bottom: 2px solid rgb(252,196,124);
    box-shadow: 0 2px 20px rgb(253,124,124);
}
.header ul{
    display: flex;
    align-items: center;
}

.header ul li:hover{
    color: rgb(253,57,8);
}

.nav ul li{
    padding: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

.account{
    flex: 0.1;
}
.account ul{
    display: flex;
    justify-content: end;
   
}
.account ul li{
    padding: 0 15px;
    font-size: 20px;
}
.account ul li i:hover{
    color: rgb(253,57,8);
}

.bar i:hover{
    color: rgb(253,57,8);
}

.search{
    display: none;
    width: 200px;
    justify-content: center;
}
.search input{
    width: 100%;
    outline: none;
    border: none;
    padding: 5px;
}
.glass{
    background-color: rgb(255, 210, 210);
    display: block;
    padding: 4px 5px;
    cursor: pointer;
}
.glas{
    background-color: rgb(255, 210, 210);
    display: block;
    padding: 4px 5px;
    cursor: pointer;
}

.menu{
    background-color: rgb(248,232,217);
    padding: 0 7vw;
}

/* Quote  section Start */
.quote{
    padding: 100px 0;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/food5.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
.quote .text_wrapper h2{
    color: rgba(255, 255, 255, 0.9);
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
.quote .text_wrapper h1{
    color: #fff;
    font-family: cursive;
    font-size: 55px;
}
/* Quote  section End */

/* menu Heading  section start */
.section_heading{
    padding: 95px 0;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./images/food5.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.section_heading h3{
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: red;
    text-shadow: 0 1px 5px red;
    font-size: 40px;
    letter-spacing: 1px;
}
.section_heading h1{
    font-size: 50px;
    color: #fff;
}
/* menu Heading  section  End*/

.main_slide3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.main_slide3 .fav-food{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    justify-content: space-evenly;
    width: 100%;
}
#fav_1{
    margin-top: 150px;
}
.main_slide3 .fav-food .item{
    background-color: #fff;
    border-radius: 5px;
    margin: 0 08px;
    margin-bottom: 65px;
    margin-top: -80px;
    width: 220px;
    padding: 15px;
    padding-top: 20px;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    border: 2px solid rgb(205, 113, 113);
}
.main_slide3 .fav-food .item:hover{
    box-shadow: 1px 5px 20px rgb(52, 52, 52);
}

.main_slide3 .fav-food .item div{
    height: 160px;
    margin-bottom: 15px;
}

.main_slide3 .fav-food .item img{
    width: 160px;
    height: 100%;
    margin-bottom: 15px;
}

.main_slide3 .fav-price{
    color: red;
    padding-top: 10px;
    font-weight: bold;
    font-size: 15px;
}


.quot{
    padding: 100px 0;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./images/food5.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
.quot .text_wrapper h2{
    color: rgba(255, 255, 255, 0.9);
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
.quot .text_wrapper h1{
    color: #fff;
    font-family: cursive;
    font-size: 55px;
}



.footer{
    padding: 60px 0;
    border-top: 2px solid rgb(252, 184, 107);
    background-color: rgb(252, 222, 195);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer_1 .logo img{
    width: 250px;
}

.footer_1 p{
    cursor: pointer;
    font-size: 14px;
    padding: 2px;
    color: rgb(187, 101, 3);
}

.footer_2{
    text-align: center;
    cursor: pointer;
}

.footer_2 h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer_2 img{
    width: 60px;
    border: 4px solid black;
    border-radius: 7px;
    background-color: black;
    margin-bottom: 15px;
}





@media only screen and (max-width: 768px){
    .header .nav ,.header .account{
        display: none;
    }
    .search{
        width: 60vw;
    }
    
    .bar{
        display: block;
        cursor: pointer;
    }
    
    .headerbar{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
        bottom: 0;
        right: -100%;
        transition: all 0.5s;
        background-color: rgb(252,231,216);
    }

    .headerbar .account ,.headerbar .nav{
        display: block;
        font-size: 18px;
    }
    .bar .fa-bars{
        top: 20px;
        right: 5w;
        font-size: 23px;
    }
    .bar .fa-xmark{
        display: none;
        top: 20px;
        right: 5w;
        position: absolute;
        font-size: 25px;
    }

    .headerbar .nav ul{
        flex-direction: column;
        margin-top: 10px;
        text-align: center;
    }
    .headerbar .nav li{
        width: 96vw;
        margin: 10px 0;
        padding: 15px 30px;
        box-shadow: 0 2px 15px rgb(252,193,169);
        font-size: 15px;
        margin-top: 5px;
    }
    .headerbar .account{
        line-height: 40px;
        margin-top: 60px;
        background-color: rgb(252,210,182);
        padding: 15px;
    }
    .headerbar .account ul{
        justify-content: space-between;
    }


    .main_slide3 .fav-food{
        margin: 10px 0;
    }
    .main_slide3 .fav-food .item{
        margin-top: -10px;
    }

}